# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*cache
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# llm guides
*GUIDE.md
list_models.py

# Test cases
test/

IMPROVEMENT*
